## Part 1 - Hands-on - pandas

The most famous library to manipulate data is `pandas`. It provides a large amount of functionalities similar to SAS (select, groupby, filter, etc.). 

The library is particularly well-suited for handling and manipulating structured data, such as CSV, Excel spreadsheets or SQL tables.

`pandas` plays a crucial role in the entire data science workflow, from initial data exploration and cleaning to advanced data analysis and modeling.

### Installation and Importing

In [ ]:
# install pandas
! pip install pandas

In [ ]:
#import of the library: we tag it as np to avoid us writting the full name each time
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### Basic data structures in pandas


Pandas provides two types of classes for handling data:

* **Series**: a one-dimensional labeled array holding data of any type
such as integers, strings, Python objects etc.

* **DataFrame**: a two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns.

### Exercice 1: Object creation

1. Creating a Series by passing a list of values, letting pandas create a default RangeIndex.

In [ ]:
data = [1, 3, 5, np.nan, 6, 8]

serie = # create a pd.Series

In [ ]:
serie.dtypes

2. Let's assume that the variable `data` is a list that contains our data.

An observation corresponds to a dictionary that contains the name, type, atmosphere and rating of a restaurant.

It is easy to transform this list into a dataframe using the 'DataFrame' function.

In [ ]:
data = [{"name": "Little Pub", "type" : "Bar", "atmosphere": 9, "rating": 7},
     {"name": "Le Corse", "type" : "Sandwicherie", "atmosphere": 2, "rating": 8},
     {"name": "Café Caumartin", "type" : "Bar", "atmosphere": 1}]

df_restaurant = # create a pd.DataFrame

df_restaurant

In [ ]:
df_restaurant.describe(include= ['O'])

In [ ]:
df_restaurant.describe(include=[np.number])

NumPy arrays have one dtype for the entire array while pandas DataFrames have one dtype per column. When you call `DataFrame.to_numpy()`, pandas will find the NumPy dtype that can hold all of the dtypes in the DataFrame. If the common data type is object, `DataFrame.to_numpy()` will require copying data.

`object` here.

In [ ]:
df_restaurant.dtypes

In [ ]:
df_restaurant.to_numpy()

3. Some basic operations

* Getitem ([])
* Selection by label .loc
* Seletion by position .iloc
* Boolean indexing

In [ ]:
# Getitem ([])
df_restaurant['name']

In [ ]:
# Selection by label .loc
df_restaurant.loc[:,'name']

In [ ]:
# Seletion by position .iloc
df_restaurant.iloc[0, 0]

In [ ]:
# Boolean indexing
df_restaurant[df_restaurant.atmosphere > 1]

### Exercice 2: Titanic survival prediction

Will Cukierski. (2012). Titanic - Machine Learning from Disaster. Kaggle. https://kaggle.com/competitions/titanic


| **Column Name** | **Type** | Description                                                  |
| --------------- | -------- | ------------------------------------------------------------ |
| `PassengerId`   | int      | Id of the passenger in this dataset                          |
| `Survived`      | int      | Boolean indicating whether or not the passenger survived the voyage (0 = No, 1 = Yes) |
| `Pclass`        | int      | Ticket class (1 = 1st, 2 = 2nd, 3 = 3rd)                     |
| `Name`          | string   | Name of the passenger                                        |
| `Sex`           | string   | Sex of the passenger                                         |
| `Age`           | float    | Age of the passenger in years                                |
| `SibSp`         | int      | Number of siblings or spouses also aboard the Titanic        |
| `Parch`         | int      | Number of parents or children also aboard the Titanic        |
| `Ticket`        | string   | Ticket Number                                                |
| `Fare`          | float    | Passenger fare (in USD)                                      |
| `Cabin`         | string   | Cabin Number                                                 |
| `Embarked`      | string   | Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton) |

#### Data Loading

Load the csv file.

In [ ]:
path = '../dataset/titanic/train.csv'
titanic = # read the csv with pd.read_csv

#### Data Exploration

In [ ]:
#get the shape

In [ ]:
#get columns name

In [ ]:
#get first rows

In [ ]:
#get a column by its name and apply head method on result

Schema of dataframes is described with python numpy dtype object.

In [ ]:
#print schema

In [ ]:
#get the dtype of the a given column == np.float64

In [ ]:
#describe the dataframe

In [ ]:
#describe only object

In [ ]:
#print a concise summary of a DataFrame with pandas.info

In [ ]:
# count the number of null

#### Data Manipulation

1. What is the average age for male versus female Titanic passengers?

![https://pandas.pydata.org/docs/_images/06_groupby_select_detail.svg](https://pandas.pydata.org/docs/_images/06_groupby_select_detail.svg)

2. What is the mean ticket fare price for each of the sex and cabin class combinations?

3. What is the number of passengers in each of the cabin classes?

![https://pandas.pydata.org/docs/_images/06_valuecounts.svg](https://pandas.pydata.org/docs/_images/06_valuecounts.svg)

In [ ]:
#use value_counts

The function is a shortcut, as it is actually a groupby operation in combination with counting of the number of records within each group:

In [ ]:
#use groupby then count

4. Create a new feature extracting from existing (Add Computed Column)

Extract Title feature using regular expressions. The RegEx pattern (\w+\.) matches the first word which ends with a dot character within Name feature.

In [ ]:
import re
def extract_title(full_name: str):
    match = re.search('(\w+\.)', full_name)
    if match:
        return match.group(1)
    else:
        return None

#use apply

#use str.extract

In [ ]:
titanic['Title'].value_counts()

#### Data Visualization

Pandas has also some plot functionalities that can be used to have a quick overview of your data.

In [ ]:
#Distribution of Age per Sex with a pie plot


# Set labels and title
# plt.xlabel('Age')
# plt.ylabel('Frequency')
# plt.title('Distribution of Age per Sex')

In [ ]:
#Age Distribution with a hist plot


# Set labels and title
# plt.title('Age Distribution')
# plt.xlabel('Age')
# plt.ylabel('Frequency')
# plt.show()

In [ ]:
#Fare Distribution with hist plot and bins=20


# plt.title('Fare Distribution')
# plt.xlabel('Fare')
# plt.ylabel('Frequency')
# plt.show()

In [ ]:
#Plot the distribution of Age per Sex with a hist plot


# Set labels and title
# plt.xlabel('Age')
# plt.ylabel('Frequency')
# plt.title('Distribution of Age per Sex')

In [ ]:
#Survival Rate by Passenger Class


# plt.title('Survival Rate by Passenger Class')
# plt.xlabel('Passenger Class')
# plt.ylabel('Survival Rate (%)')
# plt.xticks(rotation=0)
# plt.show()

### Extra - loading large dataset

pandas provides data structures for in-memory analytics (RAM memory), which makes using pandas to analyze datasets that are larger than memory datasets somewhat tricky. Even datasets that are a sizable fraction of memory become unwieldy, as some pandas operations need to make intermediate copies.

1. Load less data

With `pandas.read_csv()`, you can specify usecols to limit the columns read into memory and userows to limit the rows read into memory. Not all file formats that can be read by pandas provide an option to read a subset of columns.

2. Use efficient datatypes: [dtypes](https://pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes)

3. Use Chunking

Some workloads can be achieved with chunking by splitting a large problem into a bunch of small problems.

4. Use Dask

pandas is just one library offering a DataFrame API. Because of its popularity, pandas’ API has become something of a standard that other libraries implement. The pandas documentation maintains a list of libraries implementing a DataFrame API in the ecosystem page.

For example, [Dask](https://dask.org/), a parallel computing library, has [dask.dataframe](https://docs.dask.org/en/latest/dataframe.html), a pandas-like API for working with larger than memory datasets in parallel. Dask can use multiple threads or processes on a single machine, or a cluster of machines to process data in parallel.

One major difference: the dask.dataframe API is lazy

Parquet is a columnar storage file format that is commonly used in big data processing frameworks like Apache Spark and Apache Hadoop. It is designed to efficiently store and process large amounts of data by organizing data into columns rather than rows, which can lead to better compression and faster querying.

In [ ]:
pd.read_parquet("../dataset/timeseries_wide.parquet").info()

In [ ]:
#only loads the columns we request
columns = ["id_0", "name_0", "x_0", "y_0"]

In [ ]:
#Use efficient datatypes

titanic2 = titanic.copy()
#pandas.Categorical
#unsigned for small integer
titanic2.memory_usage()